@use '../colors' as *;
@use '../fonts' as *;

.footer {
	grid-column: 1/-1;
	grid-row: -2/-1;

	display: flex;
	justify-content: center;
	align-items: center;

	border-radius: 0.33em;

	// background-color: $element-bg;
}
