@use '../colors' as *;
@use '../fonts' as *;

.nav {
	grid-column: 1/4;
	grid-row: 1/-2;

	position: relative;

	// display: none;

	visibility: hidden;

	max-height: calc(100dvh - 1em);

	padding: 0.5em;

	border-radius: 0.33em;

	background-color: $element-bg;

	ul {
		list-style: none;
	}

	&-desktop {
		display: none;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;

		height: 100%;
	}
}
