@use '../colors' as *;
@use '../fonts' as *;

.aside {
	grid-column: -4/-1;
	grid-row: 1/-2;

	display: none;

	max-height: calc(100dvh - 1em);

	padding: 0.5em;

	border-radius: 0.33em;

	background-color: $element-bg;
}
