@use '../colors' as *;
@use '../fonts' as *;

// BURGER MENU BUTTON
.nav {
	&-btn {
		visibility: visible;

		height: 2.07em;

		border: none;

		background-color: $element-bg;

		cursor: pointer;
	}
	
	&-toggle {
		position: relative;
	}
	
	&-toggle,
	&-toggle::after,
	&-toggle::before {
		z-index: 10;
	
		width: 2em;
		height: 0.25em;
	
		border: none;
		border-radius: 0.33em;
	
		background-color: $main-font;
	}
	
	&-toggle::after,
	&-toggle::before {
		position: absolute;
		content: '';
		left: 0;
	}
	
	&-toggle::after {
		top: 0.66em;
	}
	
	&-toggle::before {
		top: -0.66em;
	}
}
