@use '../colors' as *;
@use '../fonts' as *;

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	position: relative;

	display: grid;
	grid-template-columns: repeat(16, 1fr);
	grid-template-rows: repeat(9, 1fr);

	// max-width: 100dvw;
	min-height: 100dvh;

	padding: 0.5em;
	gap: 0.5em;

	background-color: $background;

	font-family: 'Varela Round', sans-serif;
	font-size: 2rem;
	color: $main-font;
}
